.App > * {
  border: 5px solid lightblue;
}

main > * {
  border: 5px solid lightgreen;
}

.App {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  width: 90%;
  max-width: 2000px;
  margin : auto;
} 

.App > * {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}